html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
	background: lightslategray;
	background-color: steelblue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, steelblue, lightslategray, darkslategray);
      margin-left: 0 auto;
    margin-right: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color:  yellowgreen;
    margin: 0;
}
a {
    color:  darkslategray;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
	padding: 0.6rem;
	/*border: 6px dotted red;*/
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
	/*border: 3px dotted red;*/
	/*border: 30px  solid lightslategray;*/
}
.leftheader {
	/*play around to see whats prettiest*/
    flex-basis: 80%;
    text-align: right;
    padding-right: 0.5rem;
	/*border: 3px dotted red;*/
}
.leftheader  img  {
	border-radius: 100%;
	border: 1px yellowgreen solid;
	max-width: 200px;
	box-shadow: 3px 5px  15px  slategray;
}
.rightheader {
    flex-basis: 60%;
    margin-top: 3.75rem;
    padding-left: 0.5rem;
	color: floralwhite;
	font-size: 5vh 5vw;
	max-width: 100%;
}
.rightheader h1 {
    margin: 0;
    color:  lightgreen;
    font-size: 10vh 10vw;
}
.rightheader p {
    margin-top: -0.5rem;
}
nav {
	margin:  0.5rem;
    border-bottom: 1px solid yellowgreen;
    border-top: 1px solid lightgreen;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color:  darkslategray;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:link {
	text-decoration: none;
    background-color: lightslategray;
    color:  springgreen;
}

nav a:visited {
	text-decoration: none;
    background-color:  gray;
    color:  springgreen;
}

nav a:focus {
	text-decoration: none;
    background-color: darkgreen;
    color:  springgreen;
}
nav a:hover {
	text-decoration: none;
    background-color: darkslategray;
    color:  springgreen;
}
nav a:active {
  background: greenyellow;
  color: white;
}

section {
    border-bottom: 1px solid  lightgreen;
    margin-bottom: 0.3rem;
    display: flex;
    flex-flow: column nowrap;
	color: floralwhite;
	font-family: 'Open Sans', sans-serif;
    font-weight: normal;
	font-size: 1rem;
}
article {
    margin: 2rem 0;
	/*border: 30px  solid lightslategray;*/
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
	border: 1px solid slategray;
	box-shadow: 3px 5px  15px  slategray;
}
article:after {
    content: "";
    display: table;
    clear: both;
  }
.posted {
    font-size: 0.8rem;
    color:  lightgreen;
}
footer {
    padding: 1rem 0 3rem 0;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid yellowgreen;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
}
.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.responsivewide{
  width: 100%;
  max-width:  90vw;
  height: auto;
}
